<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='register')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises</title>
    </div>
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <h1>About</h1>
        <p>Braylon is a media company that sells great products!</p>
        <p>We have a history of quality production and great customer service.</p>
        <p>We are in the process of streamlining our sales with this new sales app!</p>
        <p>Welcome Braylon representative to your new workplace.</p>
        <p>Be sure to submit your sales here...</p> 
    </div>
    <div th:replace="~{shared :: jsPlugins}"></div>
</body>

</html>