<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='about')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </div>
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <h1>About</h1>
        <br />
        <p>Braylon is a media company that sells great products!</p>
        <p>We have a history of quality production and great customer service.</p>
        <p>We are in the process of streamlining our sales with this new sales app!</p>
        <p>Welcome Braylon representative to your new workplace.</p>
        <br />
        <p>Be sure to submit your sales here...</p> 
    </div>
    <div th:replace="~{shared :: jsPlugins}"></div>
</body>

</html>