<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='SalesRep Home')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises -- Sales Rep Home</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="'/css/theme.css'" href="../static/css/theme.css">
    </div>
    <link rel="stylesheet" type="text/css" th:href="'/css/customerList.css'" href="../static/css/customerList.css">
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1 class="pageTitle">Home</h1>
            </div>
        </div>
        <center>
            <h4>The best jumbotrons funny money could pretend to buy!</h4>
        </center>
        <div class="row">
            <table class="table" style="width:100%; float:left">
                <thead>
                    <th>Order Id:</th>
                    <th>Customer Id:</th>
                    <th>Customer First Name:</th>
                    <th>Customer Last Name:</th>
                    <th>Company Name:</th>
                    <th>Order Date:</th>
                    <th>Fulfillment Date:</th>
                    <th>Status:</th>
                    <th>Price:</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.billId}">text</td>
                        <td th:text="${order.customer.customerId}">text</td>
                        <td th:text="${order.customer.customerFirstName}">text</td>
                        <td th:text="${order.customer.customerLastName}">text</td>
                        <td th:text="${order.customer.companyName}">text</td>
                        <td th:text="${order.billDate}">text</td>
                        <td th:text="${order.fulfillmentDate}">text</td>
                        <td th:text="${order.status}">text</td>
                        <td th:text="${order.price}">text</td>
                        <td>
                            <a class="btn btn-danger" href="#" th:href="${'/deleteOrder/'+#authentication.name}"
                                sec:authorize="isAuthenticated()">Delete</a>
                            <a class="btn btn-secondary" href="#" th:href="${'/editOrder/'+#authentication.name}"
                                sec:authorize="isAuthenticated()">View/Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="width:100%">
                <thead>
                    <th>Sales Visit Id:</th>
                    <th>Visit Date:</th>
                    <th>Customer First Name:</th>
                    <th>Customer Last Name:</th>
                    <th>Company Name:</th>
                    <th>Sales Representative:</th>
                    <th>Location: </th>
                    <th>Notes:</th>
                    <th>OrderId: </th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr th:each="salesVisit : ${salesVisits}">
                        <td th:text="${salesVisit.salesVisitId}">text</td>
                        <td th:text="${salesVisit.visitDate}">text</td>
                        <td th:text="${salesVisit.customer.customerFirstName}">text</td>
                        <td th:text="${salesVisit.customer.customerLastName}">text</td>
                        <td th:text="${salesVisit.customer.companyName}">text</td>
                        <td th:text="${salesVisit.user.userId}">text</td>
                        <td th:text="${salesVisit.location}">text</td>
                        <td th:text="${salesVisit.notes}">text</td>
                        <td>
                            <a class="btn btn-danger" th:href="${'/deleteOrder/'+#authentication.name}"
                                sec:authorize="isAuthenticated()">Delete</a>
                            <a class="btn btn-secondary" th:href="${'/editOrder/'+#authentication.name}"
                                sec:authorize="isAuthenticated()">View/Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div class="col">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/addSalesRep/'+#authentication.name}"
                class="btn btn-primary">Add Sales Representative</a>
            <a th:href="${'/addCustomer/'+#authentication.name}" class="btn btn-primary">Add Customer</a>
            <a th:href="${'/addSalesVisit/'+#authentication.name}" class="btn btn-primary" sec:authorize="!hasRole('ROLE_ADMIN')">Add Sales Visit</a>
            <a th:href="${'/addOrder/'+#authentication.name}" class="btn btn-primary">Add Order</a>
        </div>
    </div>
    <hr />
    <div th:replace="~{shared :: jsPlugins}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>

</body>

</html>