<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='All Sales Reps')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises -- All Sales Reps</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    </div>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="'/css/customerList.css'" href="../static/css/customerList.css">
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <h1 class="pageTitle">
            All Sales Representatives
        </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}">MarkO1987</td>
                    <td th:text="${user.firstName + ' ' + user.lastName}">Mark Otto</td>
                    <td th:text="${user.email}">Mark@otto.com</td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')" class="customerLink"><a
                            class="btn btn-warning text-danger" href="./salesRepDetail.html"
                            th:href="${'/salesRep/' + user.username}">View/Edit</a></td>
                </tr>
            </tbody>
        </table>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="./salesRepDetail.html" th:href="${'/addSalesRep'}"
            class="btn btn-primary">Add Sales Rep.</a>
    </div>

    <div th:replace="~{shared :: jsPlugins}"></div>
</body>

</html>