<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='register')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises</title>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="/css/customerList.css" href="../static/css/customerDetail.css">
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>

    <div class="container">
        <h1>Add/Edit Sales Representative</h1>
        <form>
            <input type="hidden" class="form-control" name="salesVisitId" id="salesVisitId"
                th:value="${salesVisit.salesVisitId}">
            <input type="hidden" class="form-control" name="customerId" id="customerId"
                th:value="${order.customer.customerId}">
            <div class="form-group">
                <label for="userName">Visit date</label>
                <input type="date" class="form-control" th:name="visitDate" id="visitDate"
                    aria-describedby="visitDateHelp" placeholder="02-12-2020">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="location" class="form-control" id="location" aria-describedby="locationHelp"
                    placeholder="Enter location">
            </div>
            <div class="form-group">
                <label for="orderPrice">Price</label>
                <textarea class="form-control" name="notes" id="visitNotes" aria-describedby="visitNotesHelp"
                    placeholder="Enter notes" th:value="${visit.notes}">
                </textarea>
            </div>
            <div class="form-group col">
                <label for="userSelect">Sales Rep.</label>
                <select class="form-control" id="userSelect" name="user">
                    <option selected value="100" th:value="0" th:selected="${order.user == null}">- Select -
                    </option>
                    <option th:each="user : ${users}" th:text="${user.firstName + ' ' + user.lastName}"
                        th:value="${user.userID}" th:selected="${user.equals(order.user)}">
                        Sally SalesRep</option>
                </select>
                <div th:if="${#fields.hasErrors('order.user')}">
              <p th:each="error : ${#fields.errors('order.user')}" class="alert alert-danger" th:text="${error}">
                  Bad name </p>
          </div>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <div th:replace="~{shared :: jsPlugins}"></div>
</body>

</html>