<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{shared :: head(title='Sales Visit Detail')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Braylon Enterprises -- Sales Visit Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    </div>
    <link rel="stylesheet" type="text/css" th:href="'/css/customerList.css'" href="../static/css/customerDetail.css">
</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <h1 class="pageTitle">Add/Edit Sales Visit</h1>
        <form>
            <input type="hidden" class="form-control" name="salesVisitId" id="salesVisitId"
                th:value="${salesVisit.salesVisitId}">
            <input type="hidden" class="form-control" name="userId" id="userId" th:value="${salesVisit.user.userId}">
            <div class="form-group">
                <label for="userName">Visit date</label>
                <input type="date" class="form-control" th:name="visitDate" id="visitDate"
                    aria-describedby="visitDateHelp" placeholder="02-12-2020" th:value="${salesVisit.visitDate}">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="location" class="form-control" id="location" aria-describedby="locationHelp"
                    placeholder="Enter location" th:value="${salesVisit.location}">
            </div>
            <div class="form-group">
                <label for="orderPrice">Notes</label>
                <textarea class="form-control" name="notes" id="visitNotes" aria-describedby="visitNotesHelp"
                    placeholder="Enter notes" th:value="${salesVisit.notes}">
                </textarea>
            </div>
            <div class="form-group col">
                <!-- turn into customer select based on user -->
                <label for="customerSelect">Customer</label>
                <select class="form-control" id="customerSelect" name="customer">
                    <option selected value="100" th:value="0" th:selected="${salesVisit.customer == null}">- Select -
                    </option>
                    <option th:each="customer : ${customers}" th:text="${customer.customerFirstName + ' ' + customer.customerLastName}"
                        th:value="${customer.customerId}" th:selected="${customer.equals(salesVisit.customer)}">
                        Sally SalesRep</option>
                </select>
                <div th:if="${#fields.hasErrors('salesVisit.customer')}">
              <p th:each="error : ${#fields.errors('salesVisit.customer')}" class="alert alert-danger" th:text="${error}">
                  Bad name </p>
          </div>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <div th:replace="~{shared :: jsPlugins}"></div>
</body>

</html>